{% load static %}

{% for project in projects|slice:":8"  %}
<div class="col-md-3">
    <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({{project.card_icon.url}});">
        <div class="overlay"></div>
        <a href="{% url 'projects:project_detail' project.slug %}" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
        <div class="text text-center p-4">
            <h3><a href="{% url 'projects:project_detail' project.slug %}">{{project.title}}</a></h3>
            <span>{{project.small_title}}</span>
        </div>
    </div>
  </div>
{% endfor %}
    

