{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}

  <div class="form">
      <h4 class="my-3">Login</h4>
    <div class="tab-content">
      <div id="signup">
        <!-- <h1>Register</h1>         -->
        <form method="POST" novalidate>
          {% csrf_token %}
          <div class="field-wrap">{{loginForm|crispy}}</div>
          <button type="submit" class="button button-block">Register</button>
        </form>
      </div>
    </div>
  </div>

  {% endblock content %}